.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
  text-decoration: none;
  height: 33px;
  transition: opacity 0.3s linear;
	margin: 0;
}
.khan__buy-link:hover {
  transition: linear 0.5s;
  opacity: 0.3;
}
